{% extends 'main.html' %}
{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function(){
			function updateText(btn, count, text){
				$(btn).html(text + " " + count);			}

			$('.likepost-btn').click(function(e){
				e.preventDefault()
				var this_ = $(this)
				var likeUrl = this_.attr("data-like-href")
				var likesCount = parseInt(this_.attr("data-likes-count"))

				$.ajax({
					url: likeUrl,
					method: 'GET',
					data: {},
					success: function(data){
						console.log(data)

						if (data.liked){
							updateText(this_, data.likes, '<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>')
							$(this_).addClass('text-danger')
							$(this_).removeClass('text-muted')
						}else{
							updateText(this_, data.likes, '<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>')
							$(this_).removeClass('text-danger')
							$(this_).addClass('text-muted')
						}
					},
					error: function(error){
						console.log(error)
						console.log("error")
					}
				})
			})
			$('.delpost-btn').click(function(e){
				e.preventDefault()
				var this_ = $(this)
				var postID = this_.attr("data-postid")
				var delpostUrl = "post_" + postID + "/remove"
				var divClass = '.postcard' + postID

				if (confirm("Вы действительно хотите удалить эту запись?"))
				{
					$.ajax({
						url: delpostUrl,
						method: 'GET',
						data: {},
						success: function(data){
							console.log(data)
							$(divClass).remove()
						},
						error: function(error){
							console.log(error)
							console.log("error")
						}
					})
				}
			})
			$('.comment-btn').click(function(e){
				e.preventDefault()
				var this_ = $(this)
				var postID = this_.attr("data-postid")
				var c_text = $('#commlabel'+postID).val()
				var comm_url = "post_" + postID + "/comment"

				$.ajax({
					url: comm_url,
					method: 'GET',
					data: {
						'text': c_text
					},
					success: function(data){
						console.log(data)
						if(data.success){
							$('#commbase' + postID).prepend('<div class="d-flex" style="height: 40px"><img src="'+data.author_avatar+'" class="rounded-circle d-inline" alt="..." style="width: 40px; height: 40px"><div class="ml-2"><a class=""  href="/id' + data.author_id + '" style="font-size: 10pt;">' + data.author_name + '</a><h6 class="" style="font-size: 10pt;">' + data.pub_date + '</h6></div></div><span>' + c_text + '</span><br><br>')
						}
					},
					error: function(error){
						console.log(error)
						console.log("error")
					}
				})
			})
			$('#addpost-btn').click(function(e){
				e.preventDefault()
				var this_ = $(this)
				var addpostUrl = "/api/add_post"

				$.ajax({
					url: addpostUrl,
					method: 'GET',
					data: {
						'text': $('#addpost-field').val()
					},
					success: function(data){
						console.log(data)
						document.location.reload()
					},
					error: function(error){
						console.log(error)
						console.log("error")
					}
				})
			})
			$('#updatestatus-btn').click(function(e){
				e.preventDefault()
				var this_ = $(this)
				var url = "/user_update_status"
				console.log('rul')

				$.ajax({
					url: url,
					method: 'GET',
					data: {
						'text': $('#status-field').val()
					},
					success: function(data){
						console.log(data)
						document.location.reload()
					},
					error: function(error){
						console.log(error)
						console.log("error")
					}
				})
			})
		})
	</script>
{% endblock %}
{% block content %}
	
	<div class="w-100" style="height: 15px"></div>
	  	<div class="row">
	  		<div class="col-md-4 col-lg-3 col-xs-12">
	  			<div class="card">
				  <img src="{{user.userprofile.avatar}}" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">{{user.first_name}} {{user.last_name}}
				    	{% if profile.verified %}
				    	<a href="#" data-toggle="tooltip" data-placement="right" title="Подтверждённая страница">
						    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
							</svg>
					    </a>
					    {% endif %}
					</h5>
				    

		    		<div class="dropdown-divider"></div>
				    {% if me %}<div style="cursor: pointer;" data-toggle="modal" data-target="#statusmodal">{% endif %}<p class="card-text">{% if me and not user.userprofile.status %}*изменить статус*{% else %}{{user.userprofile.status}}{% endif %}</p>{% if me %}</div>{% endif %}
				    <div class="dropdown-divider"></div>
				    {% if me == False %}
				    	<a href="{% url 'start_dialog' user.id %}" class="btn btn-dark bg-red btn-block">Написать</a>
				    	<a href="friendship_request/{{user.id}}?n={{request.path}}" class="btn btn-dark bg-red btn-block">{{fradd}}</a>
				    {% else %}
				    	<a href="/edit" class="btn btn-dark bg-lred btn-block">Редактировать</a>
				    {% endif %}
				  </div>
				</div>
				<div class="card mt-3">
				  <div class="card-header">
				    Друзья: {{friendscount}}
				  </div>
				  <div class="card-body d-flex">
				  	{% for f in friendsshort %}
				  	<a href="/id{{f.id}}">
					    <div class="text-center" style="width: 50px; height: 50px">
						  <img src="{{f.userprofile.avatar}}" class="rounded-circle" alt="..." style="width: 40px; height: 40px">
					      <h6 style="font-size: 10pt;">{{f.first_name}}</h6>
						</div>
					</a>
					{% endfor %}
				  </div>
				</div>
	  		</div>
	  		<div class="col-md-8 col-lg-9 col-xs-12">
	  			<div class="w-100 d-block d-sm-none" style="height: 15px"></div>

	  			<div class="w-100 d-block d-sm-none" style="height: 15px"></div>
	  			<div class="card h-100">
				  <div class="card-header">
				    Записи
				  </div>
				  <div class="card-body h-100">
				  	{% if me %}
				  	<div class="input-group mb-3 w-100">
						<input type="text" class="form-control" id="addpost-field" required="" placeholder="Что у Вас нового?">
						<div class="input-group-append">
							<button class="btn btn-dark bg-red" id="addpost-btn">Написать</button>
						</div>
					</div>
				  	{% endif %}
				  	{% include 'pages/account/profile/post.html' %}
				  </div>
				</div>
	  		</div>
		</div>

<div class="modal fade" id="statusmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Статус</h5>
      </div>
      <div class="modal-body input-group">
        <input class="form-control" placeholder="Напишите что-нибудь..." type="text" id="status-field" value="{{user.userprofile.status}}">
        <div class="input-group-append">
        	<button data-dismiss="modal" aria-label="Close" id="updatestatus-btn" class="btn btn-dark bg-dred">Применить</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
