{% url 'profile' message_item.author.id as the_user_url %}

<div class="row mt-2 w-100" id="msg{{message.id}}">
    <div class="col-2 col-sm-1">
        <img src="{{message_item.author.userprofile.avatar}}" class="rounded-circle d-inline" alt="..." style="width: 40px; height: 40px">
    </div>
    <div class="col-10 col-sm-11">
        <a href="{{ the_user_url }}">{{ message_item.author.first_name }} {{ message_item.author.last_name }}</a>
        <span class="float-right text-muted">({{ message_item.pub_date.time }})</span>
        {% if request.user == message_item.author %}
        <button data-msgid="{{message.id}}" class="delmsg-btn btn btn-sm btn-light float-right">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
        {% endif %}
        <div class="mt-1">
            {{ message_item.message|safe }}
        </div>
    </div>
</div>